@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-mono: var(--font-geist-mono);

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  /* Container widths */
  --container-md: 100%;
  --container-lg: 1092px;
  --container-xl: 1120px;
  --container-2xl: 1280px;
}
