.hero {
  @apply relative flex-col-reverse gap-[30px] flex items-center max-w-full justify-center mx-[auto] px-4 pt-[104px] pb-[48px] 
         lg:flex-row lg:px-0 lg:pt-[117px] lg:pb-[53px] lg:max-w-[calc(100%_-_128px)]
         xl:max-w-[1092px] 
         2xl:max-w-[1194px] 2xl:gap-[58px];

  &__visual {
    @apply content-stretch flex flex-col gap-3 items-center relative shrink-0 
           lg:w-[41.28%];
  }

  &__phone {
    @apply relative shrink-0 w-[306px] max-w-[306px] h-[280.968px] mx-auto
           md:h-[343.823px]
           lg:h-[388.786px]
           xl:h-[507.85px];
  }

  &__phone-inner {
    @apply absolute w-full top-[19.8px] -left-[15%] h-[280.968px]
           md:h-[343.823px]
           lg:w-[44.894vw] lg:h-[388.786px] lg:-left-[148.09px]
           xl:h-[507.85px] xl:-left-[max(20.047vw,_231.07px)];
  }

  &__hero-caption {
    @apply content-stretch flex flex-col gap-3 h-[152px] items-center p-8 relative shrink-0 w-[345px]
           sm:w-[250px]
           md:w-[280px] 
           lg:w-[345px]
           2xl:w-[345px];
  }

  &__info {
    @apply content-stretch flex flex-col items-center relative shrink-0 flex-grow-1 w-full px-4 lg:px-0 gap-[48px]
           md:gap-[30px]
           lg:w-[calc(53.85%_-_72px)] lg:gap-[72px]
           xl:flex-shrink-1;
  }

  &__copy {
    @apply content-stretch flex flex-col items-start relative shrink-0 w-full text-center;
  }

  &__headline {
    @apply font-semibold relative shrink-0 text-black w-full text-[38px] 
           xl:text-[54px] 
           2xl:text-[64px];
  }

  &__subtitle {
    @apply font-normal relative shrink-0 text-black w-full text-[20px] 
           2xl:text-[28px];
  }

  &__cta {
    @apply bg-black flex gap-2.5 h-[44px] items-center justify-center px-4 py-2.5 relative rounded-2xl shrink-0 cursor-pointer;
  }

  &__cta-text {
    @apply font-medium leading-5 text-[18px] text-white whitespace-nowrap;
  }
}
