.page-shell {
  @apply bg-white content-stretch flex flex-col items-center justify-between relative min-h-screen overflow-hidden;
}

.page-bg {
  @apply absolute overflow-hidden w-[1128px] h-[624px] top-[225px] -left-[137px]
         md:w-[calc(100%_+_223.8px)]
         lg:w-[max(128.819vw,_1855px)] lg:h-[1018px] lg:-left-[277px] lg:-top-[169.41px];
  content: "";

  &--left {
    @apply absolute rotate-0 left-[100px] top-[unset] bottom-0 w-[259.123px] h-[327.567px] rotate-[22.259deg]
           md:h-[420.588px] md:w-[339.868px] md:left-[5.163px] md:bottom-[27.597px]
           lg:left-[145px] lg:top-[363px] lg:w-[max(29.306vw,_422px)] lg:h-[534px] lg:bottom-0;

    &.large {
      @apply block md:hidden lg:block;
    }

    &.small {
      @apply hidden md:block lg:hidden;
    }
  }

  &--right {
    @apply absolute rotate-0 w-[1231.327px] h-[514.295px] right-[156px] -bottom-[24px]
           md:h-[348.975px] md:w-[827.117px] md:-right-[225.998px] md:bottom-[125px]
           lg:bottom-[146.47px] lg:w-[max(85.509vw,_1231.327px)] lg:h-[514.295px] lg:right-[10px];

    &.large {
      @apply block md:hidden lg:block;
    }

    &.small {
      @apply hidden md:block lg:hidden;
    }
  }
}
